body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  font-size: 4.5rem;
}

a {
  position: relative;
  text-decoration: none;
  color: red;
  cursor: pointer;
}

a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transition: width 0.5s ease-in-out;
}

a:hover::after {
  width: 100%;
}
